In [156]:
from pymongo import MongoClient
from pprint import pprint
import requests
import json

In [157]:
# Client connects to "localhost" by default 
client = MongoClient('localhost', 27017)

In [158]:
#db = client.yasminhilles

# Create local "bipm" database on the fly 
db = client['bipm']

In [159]:
# When we rerun the whole notebook, we start from scratch 
# by dropping the colection "courses"
db.courses.drop()

In [160]:
# Create a Python Dictonary
courses = [
    {'title': 'Data Science',
     'lecturer': {
         'name': 'Markus Löcher',
         'department': 'Math',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Data Warehousing',
     'lecturer': {
         'name': 'Roland M. Mueller',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Business Process Management',
     'lecturer': {
         'name': 'Frank Habermann',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Stratigic Issues of IT',
     'lecturer': {
         'name': 'Sven Pohland',
         'department': 'Information Systems',
         'status': 'Professor'
     },
          'semester': 1},
    {'title': 'Text, Web and Social Media Analytics Lab',
     'lecturer': {
         'name': 'Markus Löcher',
         'department': 'Math',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'Enterprise Architectures for Big Data',
     'lecturer': {
         'name': 'Roland M. Mueller',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'Business Process Integration Lab',
     'lecturer': {
         'name': 'Frank Habermann',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'IT-Security and Privacy',
     'lecturer': {
         'name': 'Dennis Uckel',
         'department': 'Information Systems',
         'status': 'External'
     },
     'semester': 2},
    {'title': 'Research Methods',
     'lecturer': {
         'name': 'Marcus Birkenkrahe',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
]

In [161]:
pprint(courses)

[{'lecturer': {'department': 'Math',
               'name': 'Markus Löcher',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Data Science'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Roland M. Mueller',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Data Warehousing'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Frank Habermann',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Business Process Management'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Sven Pohland',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Stratigic Issues of IT'},
 {'lecturer': {'department': 'Math',
               'name': 'Markus Löcher',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Text, Web and Social Media Analytics Lab'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Roland M. Mueller',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Enterprise Architectures for Big Data'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Frank Habermann',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Business Process Integration Lab'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Dennis Uckel',
               'status': 'External'},
  'semester': 2,
  'title': 'IT-Security and Privacy'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Marcus Birkenkrahe',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Research Methods'}]

In [162]:
db.courses.insert_many(courses)

InsertManyResult([ObjectId('6659c9457f8154aa554314a7'), ObjectId('6659c9457f8154aa554314a8'), ObjectId('6659c9457f8154aa554314a9'), ObjectId('6659c9457f8154aa554314aa'), ObjectId('6659c9457f8154aa554314ab'), ObjectId('6659c9457f8154aa554314ac'), ObjectId('6659c9457f8154aa554314ad'), ObjectId('6659c9457f8154aa554314ae'), ObjectId('6659c9457f8154aa554314af')], acknowledged=True)

In [163]:
#Print all courses
cursor = db.courses.find()

for document in cursor:
    pprint(document)

{'_id': ObjectId('6659c9457f8154aa554314a7'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Science'}
{'_id': ObjectId('6659c9457f8154aa554314a8'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Warehousing'}
{'_id': ObjectId('6659c9457f8154aa554314a9'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Business Process Management'}
{'_id': ObjectId('6659c9457f8154aa554314aa'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Sven Pohland',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Stratigic Issues of IT'}
{'_id': ObjectId('6659c9457f8154aa554314ab'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Text, Web and Social Media Analytics Lab'}
{'_id': ObjectId('6659c9457f8154aa554314ac'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Enterprise Architectures for Big Data'}
{'_id': ObjectId('6659c9457f8154aa554314ad'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Business Process Integration Lab'}
{'_id': ObjectId('6659c9457f8154aa554314ae'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Dennis Uckel',
              'status': 'External'},
 'semester': 2,
 'title': 'IT-Security and Privacy'}
{'_id': ObjectId('6659c9457f8154aa554314af'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Marcus Birkenkrahe',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Research Methods'}

In [164]:
my_json = '{"title": "Master Thesis", "semester": 3}'
another_course = json.loads(my_json)
another_course

{'title': 'Master Thesis', 'semester': 3}

In [165]:
#Store `another_course` as another course:
another_course2 = db.another_courses.insert_one(another_course)

pprint(another_course2)

InsertOneResult(ObjectId('6659c9467f8154aa554314b0'), acknowledged=True)

In [166]:
all_courses = db['courses'].find()

for course in all_courses:
    print(course)

{'_id': ObjectId('6659c9457f8154aa554314a7'), 'title': 'Data Science', 'lecturer': {'name': 'Markus Löcher', 'department': 'Math', 'status': 'Professor'}, 'semester': 1}
{'_id': ObjectId('6659c9457f8154aa554314a8'), 'title': 'Data Warehousing', 'lecturer': {'name': 'Roland M. Mueller', 'department': 'Information Systems', 'status': 'Professor'}, 'semester': 1}
{'_id': ObjectId('6659c9457f8154aa554314a9'), 'title': 'Business Process Management', 'lecturer': {'name': 'Frank Habermann', 'department': 'Information Systems', 'status': 'Professor'}, 'semester': 1}
{'_id': ObjectId('6659c9457f8154aa554314aa'), 'title': 'Stratigic Issues of IT', 'lecturer': {'name': 'Sven Pohland', 'department': 'Information Systems', 'status': 'Professor'}, 'semester': 1}
{'_id': ObjectId('6659c9457f8154aa554314ab'), 'title': 'Text, Web and Social Media Analytics Lab', 'lecturer': {'name': 'Markus Löcher', 'department': 'Math', 'status': 'Professor'}, 'semester': 2}
{'_id': ObjectId('6659c9457f8154aa554314ac'), 'title': 'Enterprise Architectures for Big Data', 'lecturer': {'name': 'Roland M. Mueller', 'department': 'Information Systems', 'status': 'Professor'}, 'semester': 2}
{'_id': ObjectId('6659c9457f8154aa554314ad'), 'title': 'Business Process Integration Lab', 'lecturer': {'name': 'Frank Habermann', 'department': 'Information Systems', 'status': 'Professor'}, 'semester': 2}
{'_id': ObjectId('6659c9457f8154aa554314ae'), 'title': 'IT-Security and Privacy', 'lecturer': {'name': 'Dennis Uckel', 'department': 'Information Systems', 'status': 'External'}, 'semester': 2}
{'_id': ObjectId('6659c9457f8154aa554314af'), 'title': 'Research Methods', 'lecturer': {'name': 'Marcus Birkenkrahe', 'department': 'Information Systems', 'status': 'Professor'}, 'semester': 2}

In [167]:
# TODO: Find the course with the title "Data Science" 
# save the result in a varibale result
# and pprint the result.

result = db.courses.find_one({"title": "Data Science"})

pprint(result)

{'_id': ObjectId('6659c9457f8154aa554314a7'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Science'}

In [168]:
print(result["_id"])
print(result["lecturer"]["name"])

6659c9457f8154aa554314a7
Markus Löcher

In [169]:
first_course = db.courses.find_one({"semester": 2})

pprint(first_course)

{'_id': ObjectId('6659c9457f8154aa554314ab'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Text, Web and Social Media Analytics Lab'}

In [170]:
# TODO: Find all courses in the second semester
# and print the course titles

semester2 = db.courses.find({"semester": 2})

for title in semester2:
    pprint(title["title"])

'Text, Web and Social Media Analytics Lab'
'Enterprise Architectures for Big Data'
'Business Process Integration Lab'
'IT-Security and Privacy'
'Research Methods'

In [171]:
# TODO: Find all courses in the second semester
# and print the course titles

for name in db.courses.find({"semester": 2}):
    pprint(name["lecturer"]["name"])

# not sure why semester2 is not working

'Markus Löcher'
'Roland M. Mueller'
'Frank Habermann'
'Dennis Uckel'
'Marcus Birkenkrahe'

In [172]:
#courses_fh = db.courses.find({'lecturer.name': 'Frank Habermann'})

#for document in db.courses.find({'lecturer.name': 'Frank Habermann'}):
   # pprint(document)

In [173]:
# TODO: Find all courses of Frank Habermann
# and print the title and the semester

courses_fh = collection.find({"lecturer.name": "Frank Habermann"})

for i in courses_fh:
    print("Title:", i["title"])
    print("Semester:", i["semester"])
    print()

Title: Business Process Management
Semester: 1

Title: Business Process Integration Lab
Semester: 2

In [174]:
# TODO: Find all courses from Frank Habermann in the second semester
# and print the title and the semester

courses_fh2 = collection.find({"lecturer.name": "Frank Habermann", "semester": 2})

for i in courses_fh2:
    print("Title:", i["title"])
    print("Semester:", i["semester"])
    print()

Title: Business Process Integration Lab
Semester: 2

In [175]:
# TODO: Find all courses from Frank Habermann or Markus Löcher
# and print the title and the semester

courses_fh_ml = db.courses.find({"$or": [{"lecturer.name": "Markus Löcher"}, {"lecturer.name": "Frank Habermann"}]})

for i in courses_fh_ml:
    print("Title:", i["title"])
    print("Semester:", i["semester"])
    print()

Title: Data Science
Semester: 1

Title: Business Process Management
Semester: 1

Title: Text, Web and Social Media Analytics Lab
Semester: 2

Title: Business Process Integration Lab
Semester: 2

In [176]:
# TODO: Find all courses in semester greater than 1
# and print the title and the semester

cursor = db.courses.find({"semester": {"$gt": 1}})

for i in cursor:
    print("Title:", i["title"])
    print("Semester:", i["semester"])
    print()

#lower than: cursor = db.restaurants.find({"grades.score": {"$lt": 10}})

Title: Text, Web and Social Media Analytics Lab
Semester: 2

Title: Enterprise Architectures for Big Data
Semester: 2

Title: Business Process Integration Lab
Semester: 2

Title: IT-Security and Privacy
Semester: 2

Title: Research Methods
Semester: 2

In [177]:
# TODO: How many courses are in the second semester?

second_semester = db.courses.count_documents({"semester": 2})

second_semester

5

Downloading Nobel Prize Winners with an API and storing them in MongoDB

In [178]:
# Create local "nobel" database on the fly 
db = client["nobel"]
db.prizes.drop()
db.laureates.drop()
# API documented at https://nobelprize.readme.io/docs/prize 
for collection_name in ["prizes", "laureates"]:
    singular = collection_name[:-1] # the API uses singular
    response = requests.get( "http://api.nobelprize.org/v1/{}.json".format(singular)) 
    documents = response.json()[collection_name] 
    # Create collections on the fly 
    db[collection_name].insert_many(documents)

In [179]:
pprint(db.laureates.find_one())

{'_id': ObjectId('6659ca247f8154aa5543174f'),
 'born': '1845-03-27',
 'bornCity': 'Lennep (now Remscheid)',
 'bornCountry': 'Prussia (now Germany)',
 'bornCountryCode': 'DE',
 'died': '1923-02-10',
 'diedCity': 'Munich',
 'diedCountry': 'Germany',
 'diedCountryCode': 'DE',
 'firstname': 'Wilhelm Conrad',
 'gender': 'male',
 'id': '1',
 'prizes': [{'affiliations': [{'city': 'Munich',
                               'country': 'Germany',
                               'name': 'Munich University'}],
             'category': 'physics',
             'motivation': '"in recognition of the extraordinary services he '
                           'has rendered by the discovery of the remarkable '
                           'rays subsequently named after him"',
             'share': '1',
             'year': '1901'}],
 'surname': 'Röntgen'}

In [185]:
# TODO: Print the first name of the first document

first_name = db.laureates.find_one()

pprint(first_name["firstname"])

'Wilhelm Conrad'

In [189]:
# How many female laureates exists? 

db.laureates.count_documents({"gender": "female"})

64

In [190]:
#With the $regex function you can use a regular expression. distinct list only all distinct entries.

db.laureates.distinct("bornCountry", {"bornCountry": {"$regex": "Germany"}})

['Bavaria (now Germany)',
 'East Friesland (now Germany)',
 'Germany',
 'Germany (now France)',
 'Germany (now Poland)',
 'Germany (now Russia)',
 'Hesse-Kassel (now Germany)',
 'Mecklenburg (now Germany)',
 'Prussia (now Germany)',
 'Schleswig (now Germany)',
 'West Germany (now Germany)',
 'Württemberg (now Germany)']

In [191]:
# TODO: How many laureates are from Germany?

db.laureates.count_documents({"bornCountry": {"$regex": "Germany"}})

97

In [195]:
# TODO: Find all physics nobel laureates that are from Germany
# print the year of the first prize, the first name, and surename

cursor = db.laureates.find({"bornCountry": {"$regex": "Germany"}, "prizes.category": "physics"})

for i in cursor:
    print("Year:", i["prizes"][0]["year"])
    print("First Name:", i["firstname"])
    print("Surname:", i["surname"])
    print()

Year: 1901
First Name: Wilhelm Conrad
Surname: Röntgen

Year: 1909
First Name: Ferdinand
Surname: Braun

Year: 1914
First Name: Max
Surname: von Laue

Year: 1918
First Name: Max
Surname: Planck

Year: 1919
First Name: Johannes
Surname: Stark

Year: 1921
First Name: Albert
Surname: Einstein

Year: 1925
First Name: James
Surname: Franck

Year: 1925
First Name: Gustav
Surname: Hertz

Year: 1932
First Name: Werner
Surname: Heisenberg

Year: 1943
First Name: Otto
Surname: Stern

Year: 1954
First Name: Max
Surname: Born

Year: 1954
First Name: Walther
Surname: Bothe

Year: 1955
First Name: Polykarp
Surname: Kusch

Year: 1961
First Name: Rudolf
Surname: Mössbauer

Year: 1963
First Name: Maria
Surname: Goeppert Mayer

Year: 1963
First Name: J. Hans D.
Surname: Jensen

Year: 1966
First Name: Alfred
Surname: Kastler

Year: 1967
First Name: Hans
Surname: Bethe

Year: 1978
First Name: Arno
Surname: Penzias

Year: 1986
First Name: Ernst
Surname: Ruska

Year: 1986
First Name: Gerd
Surname: Binnig

Year: 1987
First Name: J. Georg
Surname: Bednorz

Year: 1988
First Name: Jack
Surname: Steinberger

Year: 1989
First Name: Hans G.
Surname: Dehmelt

Year: 1989
First Name: Wolfgang
Surname: Paul

Year: 1998
First Name: Horst L.
Surname: Störmer

Year: 2000
First Name: Herbert
Surname: Kroemer

Year: 2001
First Name: Wolfgang
Surname: Ketterle

Year: 2005
First Name: Theodor W.
Surname: Hänsch

Year: 2017
First Name: Rainer
Surname: Weiss

Year: 2020
First Name: Reinhard
Surname: Genzel

Year: 2021
First Name: Klaus
Surname: Hasselmann

In [201]:
# TODO: find and print the document for "Malala" (firstname)

malala = db.laureates.find({"firstname": "Malala"})

for i in malala:
    pprint(i)

{'_id': ObjectId('6659ca247f8154aa55431abf'),
 'born': '1997-07-12',
 'bornCity': 'Mingora',
 'bornCountry': 'Pakistan',
 'bornCountryCode': 'PK',
 'died': '0000-00-00',
 'firstname': 'Malala',
 'gender': 'female',
 'id': '914',
 'prizes': [{'affiliations': [[]],
             'category': 'peace',
             'motivation': '"for their struggle against the suppression of '
                           'children and young people and for the right of all '
                           'children to education"',
             'share': '2',
             'year': '2014'}],
 'surname': 'Yousafzai'}

In [211]:
# TODO: Find only female nobel laureates 
# and sort them according the the prize year in ascending order
# print year of the first prize, firstname, and surename

cursor = db.laureates.find({"gender": "female"}).sort([("prizes.year", 1)])

for i in cursor:
    print("Year:", i["prizes"][0]["year"])
    print("First Name:", i["firstname"])
    if "surname" in i:
        print("Surname:", i["surname"])
    else:
        print("No surname available")
    print()

Year: 1903
First Name: Marie
Surname: Curie

Year: 1905
First Name: Bertha
Surname: von Suttner

Year: 1909
First Name: Selma
Surname: Lagerlöf

Year: 1926
First Name: Grazia
Surname: Deledda

Year: 1928
First Name: Sigrid
Surname: Undset

Year: 1931
First Name: Jane
Surname: Addams

Year: 1935
First Name: Irène
Surname: Joliot-Curie

Year: 1938
First Name: Pearl
Surname: Buck

Year: 1945
First Name: Gabriela
Surname: Mistral

Year: 1946
First Name: Emily Greene
Surname: Balch

Year: 1947
First Name: Gerty
Surname: Cori

Year: 1963
First Name: Maria
Surname: Goeppert Mayer

Year: 1964
First Name: Dorothy Crowfoot
Surname: Hodgkin

Year: 1966
First Name: Nelly
Surname: Sachs

Year: 1976
First Name: Betty
Surname: Williams

Year: 1976
First Name: Mairead
Surname: Corrigan

Year: 1977
First Name: Rosalyn
Surname: Yalow

Year: 1979
First Name: Anjezë Gonxhe
Surname: Bojaxhiu

Year: 1982
First Name: Alva
Surname: Myrdal

Year: 1983
First Name: Barbara
Surname: McClintock

Year: 1986
First Name: Rita
Surname: Levi-Montalcini

Year: 1988
First Name: Gertrude B.
Surname: Elion

Year: 1991
First Name: Aung San Suu Kyi
No surname available

Year: 1991
First Name: Nadine
Surname: Gordimer

Year: 1992
First Name: Rigoberta
Surname: Menchú Tum

Year: 1993
First Name: Toni
Surname: Morrison

Year: 1995
First Name: Christiane
Surname: Nüsslein-Volhard

Year: 1996
First Name: Wisława
Surname: Szymborska

Year: 1997
First Name: Jody
Surname: Williams

Year: 2003
First Name: Shirin
Surname: Ebadi

Year: 2004
First Name: Linda B.
Surname: Buck

Year: 2004
First Name: Elfriede
Surname: Jelinek

Year: 2004
First Name: Wangari
Surname: Maathai

Year: 2007
First Name: Doris
Surname: Lessing

Year: 2008
First Name: Françoise
Surname: Barré-Sinoussi

Year: 2009
First Name: Elizabeth H.
Surname: Blackburn

Year: 2009
First Name: Carol W.
Surname: Greider

Year: 2009
First Name: Ada E.
Surname: Yonath

Year: 2009
First Name: Herta
Surname: Müller

Year: 2009
First Name: Elinor
Surname: Ostrom

Year: 2011
First Name: Ellen
Surname: Johnson Sirleaf

Year: 2011
First Name: Leymah
Surname: Gbowee

Year: 2011
First Name: Tawakkol
Surname: Karman

Year: 2013
First Name: Alice
Surname: Munro

Year: 2014
First Name: May-Britt
Surname: Moser

Year: 2014
First Name: Malala
Surname: Yousafzai

Year: 2015
First Name: Youyou
Surname: Tu

Year: 2015
First Name: Svetlana
Surname: Alexievich

Year: 2018
First Name: Donna
Surname: Strickland

Year: 2018
First Name: Frances H.
Surname: Arnold

Year: 2018
First Name: Nadia
Surname: Murad

Year: 2018
First Name: Olga
Surname: Tokarczuk

Year: 2019
First Name: Esther
Surname: Duflo

Year: 2020
First Name: Andrea
Surname: Ghez

Year: 2020
First Name: Emmanuelle
Surname: Charpentier

Year: 2020
First Name: Jennifer A.
Surname: Doudna

Year: 2020
First Name: Louise
Surname: Glück

Year: 2021
First Name: Maria
Surname: Ressa

Year: 2022
First Name: Carolyn
Surname: Bertozzi

Year: 2022
First Name: Annie
Surname: Ernaux

Year: 2023
First Name: Katalin
Surname: Karikó

Year: 2023
First Name: Anne
Surname: L’Huillier

Year: 2023
First Name: Narges
Surname: Mohammadi

Year: 2023
First Name: Claudia
Surname: Goldin